.featuredBG{
  width: 100%;
  background: linear-gradient(#000000a2,#000000a2), url('../../../assets/home/featured.jpg') no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
